<h1>Ecommerce</h1>

<h3>All products:</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
        <tr>
            <th scope="col">{{this.title}}</th>
            <th scope="col">{{this.price}}</th>
            <th scope="col"> <img src="{{{this.thumbnail}}}"/></th>
        </tr>
    {{/each}}
    {{#if productsEmpty}}
        <tr>
            <th>No hay productos...</th>
        </tr>
    {{/if}}
  </tbody>
</table>